@inherits LayoutComponentBase

<div class="main">

    <div style="display:flex;align-items:center;justify-content:center;width:100%">
        <div style="font-size:x-large;background-color:navy;color:white;text-align:center;width:100%">
            <span style="padding-left:2em;padding-right:2em">Blazor WASM Sample - Camera Control</span>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
